﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <div class="row">
        <div class="col-md-4">
            <h2>Task Progress Demo</h2>
            
            <p>
                <a class="btn btn-default" href="/Services/Handler.ashx">Click me&raquo;</a>
            </p>
        </div>
        
    </div>
</asp:Content>
